body{
    background-color: rgb(246,246,246);
    background-image: url(../img/JMF96ETfn1kSViVnUou1Z0XIDwWcPpT5mrPc7-ytpAc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size:  1900px 1000px ;
    background-attachment: fixed;
    font-family: 'Dosis', sans-serif;

}

h3 ul li{
    font-weight: 200;

}


li{
    list-style-type: none;
    
    color: rgb(5,9,29);
    padding-top: 0px;
    padding-bottom: 0px;
    list-style-type: none;
    border: solid black;
    margin: 4px;
    text-align: center;
    align-content: center;
    margin-right: 35px;  
    

 align-self: center;
 background-color: #fff;
 background-image: none;
 background-position: 0 90%;
 background-repeat: repeat no-repeat;
 
 border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
 border-style: solid;
 border-width: 2px;
 box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
 box-sizing: border-box;
 color: rgb(5,9,29);;
 cursor: pointer;
 
 font-family: Neucha, sans-serif;
 font-size: 1rem;
 line-height: 23px;
 outline: none;
 padding: 2px ;
 text-decoration: none;
 transition: all 235ms ease-in-out;
 border-bottom-left-radius: 15px 255px;
 border-bottom-right-radius: 225px 15px;
 border-top-left-radius: 255px 15px;
 border-top-right-radius: 15px 225px;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;


}
li:hover{
    background-color: #210e33dc; 
    color: rgb(247,232,206);
    cursor: pointer;
    overflow-y: visible;
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}
.navbar{
    background-color: rgb(247,232,206);
    border-radius: 10px;
    
    margin: 10px 650px;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    position: sticky;
    padding: 10px;
}
.view{
    margin: 10px 0px;
}

.list{
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
    box-shadow: #2980B9 0px 0px 1px 0px;
    margin-bottom: 300px;
    padding: 0px 50px;
    background-color: rgb(98,159,140);
    color: #210e33dc;
    
    z-index: 1;
    border-radius: 20px ;

    float: left;
    position: fixed;
    
    
}

.genre-bar ul{
    list-style-type: none;
    align-items: center;
    padding-left: 10px;
}

main{
    background-color: #210e33f1;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: rgba(9, 10, 10, 0.37) 1px 0px 3px 1px;
    display: flex;
    flex-direction: column;
    
    align-content: center;
    align-items: center;
    
    color: #fff;
    float: right;

    min-width: 1300px;
    
    



}
#genre-tn{
    min-width: 400px;
    max-width: 700px;
    min-height: 100px;
    max-height: 150px;
    box-shadow: rgba(9, 10, 10, 0.39) 0px 0px 10px 1px;
    margin: 10px 10px;
    justify-content: center;
    border-radius: 20px;
    margin: 10px 300px;
}

#genrename{
    margin: 10px;
    
    text-align: center;

    --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #f5f5f5;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#e9dcdc00 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #362a2a0e;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

    
    
}

.genre-navbar {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    margin: 30px;
     padding: 20px 70px;
     

    
  
}
.genre-navbar button{
    padding: 10px 90px;
    margin: 0px 10px;
    background-color: rgb(247,232,206);

    
}

button{

  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

button:active {
  background: var(--color);
  color: #fff;
}

#books-section{
    background-color: #fff;
    
    margin: 10px 200px;
    
    padding: 0px 20px;

    position: inherit;
    display: flex;
    justify-content: space-between;

    border-radius: 30px;

    

    
}


.hidden {
    display: none;
    
}




.bookdiv{
    background-color: rgb(249,249,249);
    border-radius: 10px;
    box-shadow: #373B44 0px 0px 1px 0px;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 10px 20px;

    margin: 10px;
}

.bookdiv p{
    margin: 10px;
    position: relative;
    max-width: 250px;
}
.imeji{
    max-height: 150px;
    max-width: 100px;
    min-height: 150px;
    min-width: 100px;
}
.img{
    max-height: 150px;
    max-width: 100px;
    min-height: 150px;
    min-width: 100px;
    
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 #c3b683;
}

.img:hover{
    transform: rotateY(30deg) rotateX(5deg);
    cursor:pointer;
  }



#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

